.book-bar {
  position: fixed;
  width: 190px;
  background-color: aqua;
  height: 100%;
  top: 20px;
  left: 0px;
  margin-left: 190px;
  overflow-x: scroll;
}

.book-bar li {
  list-style: none;
  float: left;
  color: white;
}

.book-bar ul {
  padding-left: 0px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.bar-header {
  position: fixed;
  width: 190px;
  height: 45px;
  background-color: blue;
  float: left;
  display: flex;
  align-items: flex-end;
}

.note-books div {
  height: 25px;
  background-color: #17202A;
  transition: 250ms;
}

.note-books div:hover {
  background-color: #1C2833;
}

.note-books span {
  margin-left: 10px;
  font-size: 15px;
}
