.format-bar {
  height: 20px;
  background-color: red;
  margin-left: 190px;
}

.writing-page {
  margin-left: 380px;
}

.writing-page textarea {
  position: fixed;
  width: calc(100% - 386px);
  height: calc(100% - 26px);
  resize: none;
  border-radius: 0px;
  border: 0px;
  outline: none;
}


.format-bar select {
  width: 100px;
  outline: none;
}
