.side-bar {
  position: fixed;
  width: 190px;
  height: 100%;
  background-color: pink;
}

.side-bar div {
  list-style: none;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #17202A;
  color: white;
  transition: 250ms;
  user-select: none;
}

.side-bar div:hover {
  background-color: #1C2833;
}

.side-bar ul {
  padding: 0px;
}

body {
  margin: 0px;
}

#seprator {
  padding-top: 28px;
  pointer-events: none;

}
